
  <head>
    <title>Angular Material - Starter App</title>
    <base href="/">
  </head>

  <body layout="row">

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                  md-component-id="menu"
                  md-is-locked-open="$mdMedia('gt-md')" ui-view="header" ng-if="currentUser || isPublic"
                    style="background-color: rgb(66,66,66);color: white">
  </md-sidenav>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ui-view="main">

  </div>

  <div ui-view=footer></div>

  </body>
