
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 0px 0px;
  }


/* Primary content area */

.bgYellow{
  background-color: yellow;
}

.bgBlack{
  background-color: black;
}

#content {
  overflow-y: scroll;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

/* Table Material */
a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position:absolute;
  z-index:20;
  font-size:30pt;
  top:30px;
  left:24px;
  transform:scale(.88,.88);
}

.md-breadcrumb {
  padding-left:88px;
}

.JCLRgrip:first-child {
  left:105px!important;
  display: none!important;
}

.JColResizer th:first-child {
  width: 105px!important;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}

.md-table-header {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.md-table-header a{
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 80px;
  width: 80px;
  padding: 16px 32px;
}

.md-table-thumbs img {
  overflow:hidden;
  width: 40px;
  height:40px;
  border-radius:20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-size:cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
  height:40px;
  margin-top:2em;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 1%;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

.md-table-header-input.md-default-theme .md-input {
  color: white;
  border-color: white;
  margin-top: 24px;
}

/* Toast Classes */
.success-toast{
  background-color: mediumseagreen;
  color: floralwhite;
}

.error-toast{
  background-color: firebrick;
  color: floralwhite;
}

/*Image drop box*/
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 25em;
  height: 120px;
  text-align: center;
  padding-top: 25px;
  margin-left: 2px;
  overflow-x: hidden;
}

.drop-box-medias {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 20.4em;
  height: 12em;
  text-align: center;
  padding-top: 25px;
  overflow-x: hidden;
}

.drop-box-medias.dragover {
  border: 5px dashed blue;
}

.drop-box-medias.dragover-err {
  border: 5px dashed red;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

.lang-option {
  float: left;
  margin-bottom: 0px;
}
.languages-posts-chips .md-chip {
  position: relative;
  padding-left: 0em;
}

.languages-posts-chips .md-chip .md-chip-remove-container {
  position: absolute;
  right: 4px;
  top: 4px;
  margin-right: 0;
  height: 24px;
}

.languages-posts-chips .md-chip .md-chip-remove-container button.languagechip {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  transition: background 0.15s linear;
  display: block;
}

.languages-posts-chips .md-chip .md-chip-remove-container button.languagechip md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
  color: white;
  fill: white;
}

.languages-posts-chips .md-chip .md-chip-remove-container button.languagechip:hover, .languages-posts-chips .md-chip .md-chip-remove-container button.languagechip:focus {
  background: rgba(255, 0, 0, 0.8);
}

.formMedias{
  min-height: 0;
  height: 25em;
}

.formMedias.ng-hide-add {
  -webkit-transition: height ease 1s; /* Safari */
  transition: height ease 1s;
  height: 25em;
}

.formMedias.ng-hide-remove {
  -webkit-transition: height ease 1s; /* Safari */
  transition: height ease 1s;
  height: 0;
}

.formMedias.ng-hide-remove-active {
  height: 25em;
}

.formMedias.ng-hide-add-active {
  height: 0;
}

//MY LESS
.logo-menu{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.65em;
  background-color: rgb(66,66,66);
}

.ckeepi-toolbar{
  border-bottom: 5px solid red;
}

md-checkbox.md-checked > .md-container > .md-icon{
  background-color: red;
}

.subheader-ckeepi{
  background-color: rgb(66,66,66);
  color: rgba(255,255,255,0.5);
}

md-list md-list-item button.md-button:not([disabled]):hover{
  background-color: rgba(255,255,255,0.7);
  color: black;
}
