<md-dialog aria-label="Languages">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Language</h2>
            <span flex></span>
            <md-button aria-label="close-form" class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form ng-submit="saveLanguage($event)">
        <md-dialog-content layout="column" layout-padding style="overflow-x: hidden">
            <md-input-container flex>
                <label>Name</label>
                <input ng-model="language.name">
            </md-input-container>
            <br/>
            <md-chips ng-model="language.shortNames" readonly="isReadOnly">
                <input placeholder="+ Short Name">
            </md-chips>
            <br/>
            <md-checkbox ng-model="language.isDefault" aria-label="Is it Default language?">
                Default Language
            </md-checkbox>
            <br/>
            <md-subheader class="md-no-sticky">Image</md-subheader>
            <md-list ng-if="language.image != undefined && language.image != ''">
                <md-list-item>
                    <img ng-src="{{language.image.url({store: 'thumbnail'})}}" class="md-avatar" alt="teste" />
                    <p>{{language.name}}</p>
                    <md-icon class="md-secondary" md-svg-icon="navigation:ic_close_24px" ng-click="deleteImage(language.image)" style="cursor:pointer;margin-top: 0px;"></md-icon>
                </md-list-item>
            </md-list>
            <div ng-if="language.image == '' || language.image == undefined">
                <div ngf-drop ngf-select
                     ngf-change="addImages($files)"
                     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                     ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
                     ngf-drop-available="dropAvailable">
                    <p>Click here to select image</p>
                    <div>
                        <p>OR</p>
                    </div>
                    <p ng-show="dropAvailable">You can also drop image to here</p>
                </div>
            </div>
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button type="submit" class="md-primary">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>
