<md-dialog aria-label="Mango (Fruit)" flex="105">
      <md-toolbar>
          <div class="md-toolbar-tools">
              <h2>Posts</h2>
              <span flex="5"></span>
              <div >
              <md-chips class="languages-posts-chips" ng-model="languagesAdded" md-require-match >
                  <md-autocomplete
                          md-selected-item="languageAdded"
                          md-search-text="query"
                          md-items="item in languageSearch(query)"
                          md-item-text="item.name"
                          md-search-text-change="null"
                          md-selected-item-change="null"
                          placeholder=" + Languages">
                      <span md-highlight-text="query">{{item.name}}</span>
                  </md-autocomplete>
                  <md-chip-template ng-click="selectLanguage($chip._id)" style="cursor:pointer;padding-right: 0 !important;">
                          <span layout="row">
                              <div><img ng-src="{{getThumbUrl($chip.image)}}" style="border-radius: 16px;height: 32px;"/></div>
                              <div flex="10"></div>
                              <div style="color:darkblue;padding-right: 5em;" ng-if="selectedLanguage == $chip._id">
                                <strong>{{$chip.name}}</strong>
                              </div>
                              <div style="padding-right: 5em;" ng-if="selectedLanguage != $chip._id">
                                  <strong>{{$chip.name}}</strong>
                              </div>
                          </span>
                  </md-chip-template>
                  <button md-chip-remove class="md-icon-button languagechip" ng-if="!$chip.isDefault">
                      <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
                  </button>
              </md-chips>
              </div>
              <span flex></span>
              <md-button aria-label="close-form" class="md-icon-button" ng-click="openMedias('medias')">
                  <md-icon md-svg-icon="action:ic_perm_media_24px"></md-icon>
              </md-button>
              <md-button aria-label="close-form" class="md-icon-button" ng-click="cancel()">
                  <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
              </md-button>
          </div>
      </md-toolbar>

      <form ng-submit="savePost($event)">
          <md-dialog-content style="overflow-x: hidden">

              <md-input-container>
                  <label>Title</label>
                  <input ng-model="post.title">
              </md-input-container>

              <md-input-container>
                  <label>Subtitle</label>
                  <input ng-model="post.subtitle">
              </md-input-container>

              <md-input-container>
                  <label>Content</label>
                  <textarea ng-model="post.content" columns="20" md-maxlength="2000"></textarea>
              </md-input-container>

              <md-input-container>
                  <label>Footer</label>
                  <textarea ng-model="post.footer" columns="20"  md-maxlength="150"></textarea>
              </md-input-container>
          </md-dialog-content>

          <div class="md-actions" layout="row">
              <span flex>

                  <md-chips style="color:black" ng-model="categoriesAdded" md-require-match="true">
                      <md-autocomplete
                              md-search-text="searchCategoriesTxt"
                              md-items="item in categoriesSearch(searchCategoriesTxt)"
                              md-item-text="item.name"
                              md-search-text-change="null"
                              md-selected-item-change="null"
                              placeholder="+ Categories">
                          <span md-highlight-text="searchCategoriesTxt">{{item.name}}</span>
                      </md-autocomplete>
                      <md-chip-template>
                        <span>
                          <strong>{{$chip.name}}</strong>
                        </span>
                      </md-chip-template>
                  </md-chips>


              </span>
              <md-button type="submit" class="md-primary">
                  Save
              </md-button>
          </div>
      </form>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2 relative" md-component-id="medias" layout="column" layout-fill>
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Medias</h1>
        </md-toolbar>
        <md-content>
            <form name="userForm">
                <md-content class="formMedias" md-theme="docsDark" ng-show="showForm" layout-padding layout="column">
                        <md-input-container>
                            <label>Media Name</label>
                            <input type="text" ng-model="media.name">
                        </md-input-container>

                            <md-input-container ng-if="selectedIndex === 1">
                                <label>URL</label>
                                <input type="url" ng-model="mediaUrlTyped" ng-change="mediaUrl(mediaUrlTyped)">
                            </md-input-container>

                            <div ng-if="selectedIndex === 0 " layout="row" layout-align="center center">
                                <div ngf-drop ngf-select
                                     ngf-change="addImages($files)"
                                     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box-medias"
                                     ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
                                     ngf-drop-available="dropAvailable" ng-if="media.mediaId == ''">
                                    <p>Click here to select image</p>
                                    <div>
                                        <p>OR</p>
                                    </div>
                                    <p ng-show="dropAvailable">You can also drop image to here</p>
                                </div>
                                <div ng-if="media.mediaId != undefined && media.mediaId != ''">
                                    <img ng-src="{{ showImageSmall(media.mediaId) }}" alt="teste" />
                                </div>
                            </div>
                        <br/>

                        <md-button class="md-raised md-primary" ng-click="saveMedia(media)">Save Media</md-button>
                        <md-button class="md-raised" style="color:black" ng-click="hideAddForm($event)">Cancel</md-button>
                </md-content>
            </form>
            <md-tabs md-selected="selectedIndex" md-align-tabs="top">
                <md-tab id="tabPhotos" >
                    <md-tab-label>Photos</md-tab-label>
                    <md-tab-body >
                        <md-subheader class="md-no-sticky">Photos added</md-subheader>
                        <md-list>
                            <md-list-item ng-repeat="media in postLanguage.medias" ng-if="media.type == 'PHOTO'">
                                <img alt="{{ media.name }}" ng-src="{{ media.urlThumb }}" class="md-avatar" />
                                <p>{{ media.name }}</p>
                                <md-icon class="md-secondary" md-svg-icon="navigation:ic_close_24px" ng-click="removeMedia(media)" style="cursor:pointer;margin-top: 0px;"></md-icon>
                            </md-list-item>
                        </md-list>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tabVideos">
                    <md-tab-label>Videos</md-tab-label>
                    <md-tab-body layout-padding>
                        <md-list>
                            <md-subheader class="md-no-sticky">Videos added</md-subheader>
                            <md-list-item ng-repeat="media in postLanguage.medias" ng-if="media.type == 'VIDEO'">
                                <md-icon md-svg-icon="av:ic_play_circle_fill_24px"></md-icon>
                                <p>{{ media.name }}</p>
                                <md-icon class="md-secondary" md-svg-icon="navigation:ic_close_24px" ng-click="removeMedia(media)" style="cursor:pointer;margin-top: 0px;"></md-icon>
                            </md-list-item>
                        </md-list>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
                <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-if="showAddButton" ng-click="showAddForm($event)">
                    <md-icon md-svg-icon="content:ic_add_24px" aria-label="Plus"></md-icon>
                </md-button>
    </md-sidenav>

</md-dialog>
