<md-dialog aria-label="Languages">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Category</h2>
            <span flex></span>
            <md-button aria-label="close-form" class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form ng-submit="saveCategory($event)">
        <md-dialog-content layout="column" layout-padding style="overflow-x: hidden">
            <md-input-container flex>
                <label>Name</label>
                <input ng-model="category.name">
            </md-input-container>
            <br/>
            <md-input-container flex>
                <label>Color</label>
                <input ng-model="category.color">
            </md-input-container>
            <br/>
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button type="submit" class="md-primary">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>
