<div layout="row" layout-align="center center" class="md-padding">
  <div flex="50" flex-sm="75">
    <md-card>
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Login
        </h1>
      </md-toolbar>
      <md-content layout-padding>
        <form name="loginForm">
          <md-input-container>
            <label>User</label>
            <input type="text" ng-required="true" name="username" ng-model="user.username">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input type="password" ng-required="true" name="password" ng-model="user.password">
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-button ng-click="login()" class="md-raised md-primary">Login</md-button>
          </div>
        </form>
      </md-content>
    </md-card>
  </div>
</div>
