<div ng-include="'client/admin/views/layout/toolbar.ng.html'"></div>

<md-content flex>
    <div class="main-fab">
        <md-button aria-label="add-form" class="md-fab md-accent" ng-click="showForm($event)" style="font-size:25pt;">+</md-button>
    </div>
    <md-toolbar layout="column"><span flex="flex"></span>
        <div class="md-toolbar-tools">
            <div layout="row" flex="flex" class="fill-height">
                <div ng-hide="toggleSearch" class="md-toolbar-item md-breadcrumb"><span>Categories Data</span></div><span flex="flex" ng-hide="toggleSearch"></span>
                <md-input-container class="md-table-header-input" flex="flex" style="padding-left:88px;" ng-show="toggleSearch">
                    <input aria-label="search-input" type="text" ng-model="search"/>
                </md-input-container>
                <div layout="row" class="md-toolbar-item md-tools"><a href="" ng-click="toggleSearch = !toggleSearch" class="md-button md-default-theme"><md-icon md-svg-icon="action:ic_search_24px"></md-icon></a></div>
            </div>
        </div>
    </md-toolbar>
    <md-content layout="column" flex="flex" ng-click="toggleSearch=false" style="overflow-y:auto;overflow-x:hidden">
        <md-table headers="headers" content="content" sortable="sortable" filters="search" actions="actions" custom-class="custom" thumbs="thumbs" count="count"></md-table>
    </md-content>
</md-content>
