<div ng-include="'client/admin/views/layout/toolbar.ng.html'"></div>

<md-content flex id="content" layout-padding>
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

      <md-grid-tile class="" md-rowspan="1" md-rowspan-gt-md="2" md-colspan="2" md-colspan-sm="1">
        <md-icon style="width:128px;height:128px;" md-svg-icon="action:ic_announcement_24px"></md-icon>
        <md-grid-tile-footer>
          <h3>Posts</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="" md-rowspan="1" md-rowspan-gt-md="2" md-colspan="2" md-colspan-sm="1">
        <md-icon style="width:128px;height:128px;" md-svg-icon="action:ic_language_24px"></md-icon>
        <md-grid-tile-footer>
          <h3>Languages</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="" md-rowspan="1" md-rowspan-gt-md="2" md-colspan="2" md-colspan-sm="1">
        <md-icon style="width:128px;height:128px;" md-svg-icon="action:ic_settings_24px"></md-icon>
        <md-grid-tile-footer>
          <h3>Settings</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>
</md-content>
