<div ng-include="'client/blog/views/layout/toolbar.ng.html'"></div>

<md-content layout="row" style="height: 100em">
    <div style="border-right: 1px solid rgba(255,0,0,0.3); overflow-y: auto" flex>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="post in postsToShow" ng-click="selectPost(post._id)">
                <img ng-src="{{post.medias[0].urlThumb}}" class="md-avatar" alt="{{post.post.title}}" />
                <div class="md-list-item-text">
                    <h3>{{ post.post.title }}</h3>
                    <h4>{{ post.post.subtitle }}</h4>
                    <p>@ckeepi</p>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>
    </div>

    <div flex="60" hide-sm style="overflow-y: auto">
        <div layout-padding>
            <h1 style="margin-left: 0.2em;margin-bottom: 0em">{{currentPost.post.title}}</h1>
            <h4 style="margin-left: 0.4em;margin-top: 0; margin-bottom: 0.2em">{{currentPost.post.subtitle}}</h4>
            <p style="margin-left: 0.4em;margin-top: 0;margin-bottom: 0.2em">@ckeepi</p>
        </div>
        <md-divider ></md-divider>
        <div layout-padding>
            <p style="margin-left: 0.2em;" ng-bind-html="currentPost.post.content">{{currentPost.post.content}}</p>
        </div>
        <div layout-padding>
            <p style="margin-left: 0.2em;">{{currentPost.post.footer}}</p>
        </div>
    </div>
</md-content>
