<md-bottom-sheet class="md-list md-has-header">
    <md-subheader>Actions</md-subheader>
    <md-list>
        <md-list-item ng-repeat="action in actions">
            <md-button class="md-list-item-content" ng-click="clicked(action.name,item)">
                <md-icon md-menu-align-target md-svg-icon="{{action.icon}}"></md-icon>
                <span class="md-inline-list-icon-label">{{ action.name }}</span>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>