<!-- md-table jade template-->
<div>
  <table md-colresize="md-colresize" class="md-table">
    <thead>
      <tr class="md-table-headers-row">
        <th ng-repeat="h in headers" class="md-table-header">
          <a href="#" ng-if="handleSort(h.field)" ng-click="reverse=!reverse;order(h.field,reverse)">
            {{h.name}}
            <md-icon ng-show="reverse &amp;&amp; h.field == predicate" md-svg-icon="navigation:ic_arrow_drop_up_24px"></md-icon>
            <md-icon ng-show="!reverse &amp;&amp; h.field == predicate" md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon>
          </a>
          <span ng-if="!handleSort(h.field)">{{h.name}}</span></th>
        <th class="md-table-header"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in content | filter:filters | startFrom:tablePage*count | limitTo: count" class="md-table-content-row">
        <td>
          <div ng-repeat="h in headers" ng-if="h.field == thumbs" class="md-table-thumbs">
            <img ng-src="{{getThumbUrl(c.image)}}"/>
          </div>
        </td>
        <td ng-repeat="h in headers" ng-class="customClass[h.field]" ng-if="h.field != thumbs" class="md-table-content">
            {{(h.field.indexOf('date') !== -1) ? convertFormatDate(c[h.field]) : (c[h.field] === false) ? '' : c[h.field];}}
        </td>
        <td class="md-table-td-more">
            <md-button aria-label="Actions" ng-click="showActionList($event,c)"><md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon></md-button>
        </td>
      </tr>
    </tbody>
  </table>
  <md-content layout="row" layout-align="center center" class="md-table-footer">
    <div>
      <md-button ng-disabled="tablePage==0" ng-click="tablePage=tablePage-1" aria-label="Previous Page" class="md-primary md-hue-2">
        <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
      </md-button>
      <a href="#" ng-repeat="i in getNumber(nbOfPages()) track by $index">
        <md-button ng-click="goToPage($index)" class="md-primary md-hue-2 md-table-footer-item">
          <span ng-class="{ 'md-table-active-page': tablePage==$index}">{{$index+1}}</span>
        </md-button>
      </a>
      <md-button ng-disabled="tablePage==nbOfPages()-1" ng-click="tablePage=tablePage+1" aria-label="Next Page" class="md-primary md-hue-2">
        <md-icon md-svg-icon="navigation:ic_arrow_forward_24px"></md-icon>
      </md-button>
    </div>
  </md-content>
</div>
