<md-toolbar layout="row" class="logo-menu" layout-align="center center">
    <img src="/images/logo.png"/>
</md-toolbar>

<md-divider></md-divider>
<md-list>
    <md-subheader class="md-no-sticky subheader-ckeepi">Personalize</md-subheader>
    <md-list-item class="md-list-item-menu" ng-repeat = "filter in filters">
        <p>{{ filter.item }}</p>
        <md-checkbox class="ckeepi-checkbox" ng-model="filter.value"></md-checkbox>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-list-item-menu" ng-repeat = "category in categories">
        <p>{{ category.name }}</p>
        <md-checkbox class="ckeepi-checkbox" ng-model="filter.value"></md-checkbox>
    </md-list-item>
</md-list>
