<md-toolbar class="md-whiteframe-z1 ckeepi-toolbar" layout="row">
    <div class="md-toolbar-tools">
        <md-button class="menu" hide-gt-md aria-label="Show Menu" ng-click="toggleMenu('menu')">
            <md-icon md-svg-icon="navigation:ic_menu_24px" ></md-icon>
        </md-button>
        <span flex></span>
        <md-menu>
            <div ng-click="openLanguageMenu($mdOpenMenu, $event)">
                <img style="border-radius: 20px;" ng-src = '{{ getLanguageImgUrl(selectedLanguage.image) }}' alt="{{selectedLanguage.name}}"/>
            </div>
            <md-menu-content>
                <md-menu-item ng-repeat="language in languages">
                    <md-button ng-click="changeLanguage(language._id)" aria-label="{{language.name}}">
                        <div style="margin-top: 0.5em;margin-left: 25%">
                            <img style="border-radius: 20px;" ng-src = '{{ getLanguageImgUrl(language.image) }}' alt="{{selectedLanguage.name}}"/>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>