<md-toolbar class="md-whiteframe-z1">
  <h1>briething</h1>
</md-toolbar>

<md-divider></md-divider>
<md-list>
  <md-subheader class="md-no-sticky">Menu</md-subheader>
  <md-list-item class="md-list-item-menu" ng-click="navigateTo('admin')">
    <p>Dashboard</p>
  </md-list-item>
  <md-list-item class="md-list-item-menu" ng-click="navigateTo('admin.posts')">
    <p>Posts</p>
  </md-list-item>
  <md-list-item class="md-list-item-menu" ng-click="navigateTo('admin.languages')">
    <p>Languages</p>
  </md-list-item>
    <md-list-item class="md-list-item-menu" ng-click="navigateTo('admin.categories')">
        <p>Categories</p>
    </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="md-list-item-menu" ng-click="navigateTo()">
    <p>Settings</p>
  </md-list-item>
</md-list>
