<md-toolbar layout="row" class="md-whiteframe-z1">
  <div class="md-toolbar-tools">
    <md-button class="menu" hide-gt-md aria-label="Show Menu" ng-click="toggleMenu('menu')">
      <md-icon md-svg-icon="navigation:ic_menu_24px" ></md-icon>
    </md-button>
    <h2>
      <span>Admin Pane</span>
    </h2>
    <span flex></span>
    <md-menu md-position-mode="target-right target">
      <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu()">
        <md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item >
          <md-button ng-click="logout()">
            <p>Logout</p>
            <md-icon md-menu-align-target md-svg-icon="action:ic_settings_power_24px"></md-icon>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>